* {
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: Cyberway-riders;
    src: url(../../res/CyberwayRiders-lg97d.ttf);
}

body {
    width: 100%;
    height: 100vh;
    background-color: #080808;
    background: url("../../res/wave-abstract.jpg");
    background-size: cover;
    background-position: center;
}

.cyberway-rider {
    font-family: Cyberway-riders;
    font-weight: 500;
}

.cyberway-rider span {
    font-family: Cyberway-riders;
    color: #f3382f;
    font-weight: 500;
}

.dashboard-word {
    font-size: 2vw;
}

label label span {
    margin: 0px 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 2vw;
    background-color: none;
}

.logo {
    color: white;
    font-size: 45px;
}

nav label {
    margin: 2vh 1vh;
    font-size: 56px;
    text-shadow: 2px 2px 8px #000000;
    background-color: none;
    transition-duration: 0.4s;
}

nav label:hover {
    transform: scale(1.2);
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 25px;
    background-color: transparent;
}

nav ul li a {
    text-decoration: none;
    text-shadow: 2px 2px 8px #000000;
    font-weight: bold;
    font-size: 2vh;
    text-transform: capitalize;
}

nav ul i {
    color: #f3382f;
    background-color: transparent;
}

nav ul :hover {
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1200px) {
    .checkbtn {
        display: block;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 5vw;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all 0.4s;
    }

    nav ul li {
        display: block;
        margin: 5vw 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li :hover {
        transform: scale(1.2);
        transition-duration: 0.4s;
    }

    #check:checked~ul {
        left: 0;
    }

    .sections {
        display: block;
    }
}

